@mixin rotate($degrees) {
  -moz-transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
  transition: transform 150ms;
  transition-timing-function: ease-in-out;
}

.book-store { @include rotate(8deg);
  
   
 
 }

.background-sky{background: lavender; background: linear-gradient(145deg,lavender,#42a5f5);}