/*
* typography
*/

* {
  outline: none !important;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  background-color: $white-smoke-dark;
}

.k-widget,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  color: $primary-color;
  font-family: $base-font-family;
}

button, input, optgroup, select, textarea{
  font-family: $base-font-family !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $header-font-family;
  font-weight: 600;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  font-size: $h2-font-size;
}

h2.header-big-text {
  font-size: $big-text;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 10px;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $base-hover-link-color;
  }

  &:active,
  &:focus {
    color: $base-hover-link-color;
    outline: none;
  }
}
