/* You can add global styles to this file, and also import other style files */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}


/* ================= */

.box { @include border-radius(10px); }
$primary-bg-color:#53b7a6;
$primary-color: #58b795;
$base-link-color:royalblue;
$base-hover-link-color:royalblue;

$h1-size:32px;
$h2-size:28px;
$h3-size:24px;
/* ///         Techsoup Event              /// */
a {
 /* @include transition(color 0.1s linear);*/
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $base-hover-link-color;
  }

  &:active,
  &:focus {
    color: $base-hover-link-color;
    outline: none;
  }
}



.main-bg{@include gradient-directional($start-color: #53b7a6, $end-color: #58b795, $deg: 45deg);}

h2{color: #6cc2b6;}
h3{color: #58b795; font-size: $h3-size;}
.content-bg{
    background: #fff; color: #000;
padding: 30px 20px;box-sizing: border-box;
    p{
        font-size: 20px;
    }
}
.yellow-bg{background: #f8af00; color: #fff; box-sizing: border-box;padding: 30px 20px;}
blockquote{border: none;  font-weight: lighter; font-size: 24px; box-sizing: border-box;}
.margin-top-20{ margin-top: 20px;}

/* 
.yellow-container {
  display: flex;
  flex-direction: row;

}

#img {
  width: 140px;
  height: 140px;
}

#text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: #f8af00; color: #fff;
  min-height: 100px;
}

@media screen and (min-width: 768px) {
  .yellow-container {
    flex-direction: column;
  } 
  
  #img {
    width: 100%;
    height: auto;
  }
} */